.contact {
    padding: 6.25rem 1.25rem;
}

textarea, input {
    width: 100%;
    padding: 0.625rem;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    border: 1px solid #f0e9ff;
    border-radius: 5px;
    padding-left: 1.125rem;
    font-size: 0.81rem;
    background: transparent;
    color: #495057;
}

textarea:focus,
input:focus {
    outline: 0;
    box-shadow: none;
}

.half-flex {
    display: flex;
}

.contact__first-name {
    padding-right: 1.9rem;
    flex: 1;
}

.contact__email {
    padding-left: 1.9rem;
    flex: 1;
}

.contact-send {
    margin-top: 1.87rem;
}

@media only screen and (max-width: 991px) {
    .half-flex {
        flex-direction: column;
    }
    .contact__first-name,
    .contact__email {
        padding: 0;
    }
}