html {
    font-size: 20px;
}

.body {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.main-container {
    display: flex;
    border: 2px solid #000;
    border-radius: 10px;
    width: 40rem;
    height: 25rem;
    justify-content: space-evenly;
    align-items: center;
}

.project-heading {
    font-size: 500;
    font-weight: 50px;
    font-family: sans-serif;
    margin-left: 1.25rem;
    margin-top: 1.25rem;
    
}

.project-name {
    font-size: 500;
    font-family: sans-serif;
    margin-left: 1.87rem;
    margin-top: 1.25rem;
}
.inline-block {
    display: inline-block;
}

.main-section {
    display: flex;
    flex-direction: column;
    border: 2px solid #000;
    border-radius: 10px;
    width: 25rem;
    height: 23rem;
}

.main-section__elements {
    display: flex;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    margin-right: 1rem;
    flex-wrap: wrap;
}

.main-section__element {
    display: flex;
}

.main-section__elements > .max-num:last-child {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

.min-num, .max-num, .count-num {
    display: flex;
    margin-left: 1.25rem;
    margin-top: 1.25rem;
    width: 100%;
}

.min-value, .max-value, .count {
    margin-left: 10px;
}

.min-value, .max-value , .count {
    padding: 10px 5px;
    border: none;
    border-bottom: 2px solid #000;
}

.min-value:hover, .max-value:hover, .count:hover {
    border-bottom: 2px solid #000;
}

.min-value, .max-value, .count:focus-visible {
    outline: none;

}

.min-value, .max-value, .count {
    text-align: center;
    width: 7.5rem;
    background: none;
}

.count {
    align-self: center;
}

.count-num {
    display: flex;
    justify-content: center;
    width: 100%;
}

.button {
    text-align: center;
}

.gen-button {background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%);}
.gen-button {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;               
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 50%;
}    

.gen-button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.placeholder {
    width: 100%;
    margin-top: 1.25rem;
    text-align: center;
}
@keyframes drop {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  80% {
    transform: translateY(5px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}

.number-animate {
  display: inline-block;
  animation: drop 0.4s ease forwards;
}

